body {
    /*overflow:hidden;*/
    font-family: ubuntu;
    --theme-bg:#2C2C2C;
    --theme-fg:white;
    --theme-hg:rgb(0,127,127);
    --theme-hfg:rgb(0,0,0);
    --trans-time:0.18s;
    --lbar-width:400px;
}

#lbar {
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:var(--lbar-width);
    /*background-color:rgb(230,230,230);*/
    /*box-shadow: 5px 0px 8px rgba(50,50,50,200);*/
    background-image: url("../resources/bg-noise.png");
    background-repeat: repeat;
    /*border-right:1px solid grey;*/
    color:white;
    min-width:300px;
}

#lbarOverlay {
    position:absolute;
    top:0;
    bottom:0;
    width:var(--lbar-width);
    left:0;
    right:0;
    z-index:2;
    /*background-color: rgba(0,0,0,0);*/
    /*box-shadow: -5px 0px 20px 3px rgba(0,0,0,0.4) inset;*/
    pointer-events: none;
    background:none !important;
}

#projectBar {
    width:100%;
    white-space: nowrap;
    display:inline-flex;
    height:40px;
    border-bottom:1px solid;
    overflow:visable;
}

#titleBar {
    width:100%;
    white-space: nowrap;
    display:inline-flex;
    padding-top:3px;
    padding-bottom:6px;
    padding-left:6px;
    position:relative;
}
#titleBarText {
    font-family:ubuntu-mono;
    font-size:24px;
    padding-left:7px;
    padding-right:12px;
    padding-top:4px;
    display:inline;
}
#titleBarAcc {
    font-size:10pt;
    position:absolute;
    right:0;
    padding:8px;
}

.tab {
    text-align:center;
    align-content:center;
    flex-grow: 100;
    border:1px solid;
    border-bottom:0px;
    margin-left:3px;
    margin-right:3px;
    margin-top:6px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
    height: 23px;
    min-width:20px;
    /*border-bottom:1px solid;*/
}

#searchBar {
    display:inline-flex;
    flex-grow: 100;
    min-width:40px;
    max-width:100%;
    background:rgba(0,0,0,0);
    border:1px grey;
    border-radius:5px;
    box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.5) inset;
    height:100%;
    width:100%;
    color:white;
    padding-left:6px;
    padding-right:6px;
}

.iflex {
    display:inline-flex;
    flex-grow: 100;
    min-width:40px;
    max-width:100%;
    background:rgba(0,0,0,0);
    border:1px grey;
    border-radius:5px;
    box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.5) inset;
    color:white;
    padding-left:6px;
    padding-right:6px;
    margin-top:3px;
    margin-bottom:3px;
    margin-left:5px;
    margin-right:5px;
    min-height:20px;
}

#locationTree {
    text-align:center;
    align-self:center;
    align-content:center;
    /*box-shadow:0px 0px 8px black inset;*/
    overflow-x:scroll;
    width:100%;
    /*height:160px;*/
    position:absolute;
    left:0;
    right:0;
    top:30%;
    padding-top:4px;
    bottom:45%;
}
#locationTreeOverlay {
    position:absolute;
    left:0;
    right:0;
    top:30%;
    padding-top:4px;
    bottom:45%;
    width:100%;
    pointer-events: none;
    background:none !important;
    box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.7) inset;
    z-index:2;
}
#locationRaw {
    display:inline;
    width:100%;
    white-space: nowrap;
    padding-right:12px;
}

.location {
    /*border:1px solid black;*/
    display:inline-table;
    padding:4px;
    margin-left:5px;
    margin-right:5px;
    margin-top:3px;
    text-align:center;
    align-content: center;
    white-space: nowrap;
}

.tsel {
    background-color: white;/*rgba(0,200,255, 0.2);*/
    /*border-bottom:3px solid;*/
    border-top:1px solid white;
    border-right:1px solid white;
    border-left:1px solid white;
    border-bottom:0px;
    background-image: url("../resources/bg-noise.png");
    background-repeat: repeat;
    height:24px;
}

.locationName {
    background:rgb(200,200,200);
    display:inline-flex;
    width:100%;
    padding:5px;
    box-shadow:5px 5px 8px rgba(0,0,0,0.5);
    text-align:center;
    align-content: center;
    border:1px solid;
    color:black;
}
.lsep {
    width:8px;
    height:10px;
    min-wdith:8px;
}
.lnsub {
    text-align:center;
    width:100%
}
.lnsel {
    background-color:rgb(60,180,230);
}

#projectList {
    /*border-top:1px solid;*/
    /*border-bottom: 1px solid;*/
    width:100%;
    height:25%;
    overflow-y:scroll;
    position:absolute;
    top:40px;
    bottom:70%;
    left:0;
    right:0;
}

#toolbar {
    position:absolute;
    left:var(--lbar-width);
    right:0;
    top:0;
    height:37px;
    background-image: url("../resources/bg-noise.png");
    background-repeat: repeat;
    z-index:2;
    padding-top:3px;

    border-bottom:1px solid var(--theme-fg);
    color:white;
    /*box-shadow: 5px 5px 8px rgba(0,0,0,0.4);*/
}
#toolbarButtons {
    padding-left:12px;
    padding-top:3px;
    position:absolute;
    top:6px;
    bottom:0px;
    left:0px;
}

.projectItem {
    width:100%;
    height:50px;
    border-bottom:1px solid;
}

.projectName {
    position:absolute;
    left:10px;
    top:10px;
    text-align:left;
}
.projectStatus {
    position:absolute;
    right:10px;
    top:10px;
    text-align:right;
    vertical-align:middle;
}

.projectProgress {
    position:absolute;
    left:10px;
    top:34px;
    text-align:left;
    font-size:9px;
}
/*
#inventoryList {
    margin-top:1px;
    border-top:1px solid black;
    overflow-y:scroll;
    display:flex;
    flex-grow:100;
}*/

.Container {
    position:relative;
    width:100%;
    height:100%;
}

.scrolled::-webkit-scrollbar {
    width: 7px;
    height:7px;
}

.scrolled::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
}

.scrolled::-webkit-scrollbar-thumb {
  background-color: rgb(130,130,130);
  /*border: 1px solid rgb(40,40,40);*/
  border-radius: 12px;
}

#mdiv {
    z-index:1;
    position:absolute;
    top:40px;
    bottom:0px;
    left:var(--lbar-width);
    right:0px;
    box-shadow:0px 0px 16px 8px rgba(0,0,0,0.5) inset;
    background-color:rgba(0,0,0,0);
    background-image: url("../resources/bgBlueprint.png");
}

#mcanvas {
    display:flex;
    /*min-width:100%;
    min-height:100%;*/
    z-index:0;
    /*background-image: url("../resources/bgBlueprint.png");*/
    background-repeat: repeat;
    overflow:visable;
}

#moverlay {
    z-index:2;
    position:absolute;
    top:40px;
    bottom:0px;
    left:var(--lbar-width);
    right:0px;
    box-shadow:0px 0px 16px 8px rgba(0,0,0,0.5) inset;
    background-color:rgba(0,0,0,0);
}

@font-face {
    font-family: ubuntu;
    src: url(../resources/Ubuntu.ttf);
}
@font-face {
    font-family: ubuntu-mono;
    src: url(../resources/UbuntuMono.ttf);
}


#inventoryList {
    overflow-y:scroll;
    overflow-x:hidden;
    position:absolute;
    left:0;
    right:0;
    bottom:0px;
    top:55%;
}

.inventoryHeader {
    font-weight: bold !important;
}

.inventoryItem {
    display:flex;
    width:100%;
    height:40px;
    vertical-align: middle;
    margin-left:7px;
}
.inventoryName {
    position:absolute;
    right:80px;
    left:0;
    top:0;
    bottom:0;
    vertical-align:middle;
    border-right:1px solid grey;
    border-bottom:1px solid grey;
    padding-left:12px;
    padding-top:10px;
}

.inventoryScroll {
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:80px;
}

.inventoryQuantity {
    position:absolute;
    width:80px;
    right:0px;
    top:0;
    bottom:0;
    vertical-align:middle;
    border-bottom:1px solid grey;
    text-align:center;
    padding-top:10px;
}

.inventorySpacer {
    position:absolute;
    bottom:40px;
}

.inventoryFooterItem {
    position:absolute;
    bottom:0;
}

.step {
    position:absolute;
    text-align:center;
    align-content:center;
    border:40px transparent;
}
.stepTitle {
    display:block;
    font-family:ubuntu-mono;
    font-size:16px;
}
.stepImage {
    display:block;
    width:200px;
    height:auto;
}
.stepDescriptionRaw {
    display: none;
}

.topButton {
    border-top-left-radius: 8px;
    border-top:2px solid var(--theme-fg);
    border-left:1px solid var(--theme-fg);
    width:130px;
    margin-left:6px;
    margin-right:6px;
    padding-left:4px;
    padding-right:16px;
    padding-top:5px;
    padding-bottom:5px;
    font-size:15pt;
    user-select: none;

}

.topButton.active {
    /*background-color:var(--theme-hg);*/
    z-index:4;
}
li.active {
    background-color:var(--theme-hg);
    color:var(--theme-hfg);
}

.btActive {
    background-color:var(--theme-hg);
}


ul {
  list-style: none;
  padding-left: 1em;
  text-indent: -1em;
}
li:before {
  content: '\226b';
  padding-right: 5px;
  font-weight:lighter;
}

li.empty:before {
  content:'';
  padding-right:0px;
}

.dropDown {
  /*position:fixed;
  z-index:7;
  border:1px solid var(--theme-fg);
  background-color:var(--theme-bg);
  box-shadow: 4px 4px 16px 6px black;
  border-top:2px solid var(--theme-fg);
  padding-left:4px;
  padding-right:4px;*/
  position:absolute;
  border-top-left-radius: 8px;
  border-top:2px solid var(--theme-fg);
  border-left:1px solid var(--theme-fg);
  margin-top:5px;
  /*width:130px;*/
  border:1px solid var(--theme-fg);
  background-color:var(--theme-bg);
  box-shadow: 4px 4px 16px 6px rgba(0,0,0,0.6);
  border-top:2px solid var(--theme-fg);
  padding-left:4px;
  padding-right:4px;
  /*font-size:13pt;*/
  user-select: none;
  z-index:7;
  color:white;

  transition: visibility var(--trans-time), opacity var(--trans-time) linear;
}
.dropDown ul {
  padding-left:10px;
  width:123px;
  margin:0;
  margin-top:4px;
  font-size: 12pt;
}
.dropDown li {
  margin:0;
  display:block;
  border-top:1px dotted var(--theme-fg);
  padding-bottom:8px;
  padding-top:8px;
  padding-left:8px;
};
.dropDown div {
  padding-bottom:8px;
}

#defocus {
  z-index:2;
  background-color:rgba(var(--theme-fg_), 128);
  position:absolute:
  left:0;
  right:0;
  top:0;
  bottom:0;
  width:100%;
  height:100%;
}

.hidden {
  /*display:none;*/
  visibility: hidden;
  opacity: 0;
}
.shown {
  visibility: visible;
  opacity: 1;
}

#wmGhosting {
  z-index:5;
  background-color:rgba(0,0,0,0.3);
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  min-width:100%;
  min-height:100%;
  transition: visibility var(--trans-time), opacity var(--trans-time) linear;
}
.ghosted {
  filter: blur(3px) grayscale(0.3);
}
